<div class="container" >
<mat-card-title class="h1" >Todo App</mat-card-title>

<!--Campo de botão-->
<div class="CampoBotao">
<input class="ipnt" 
type="text"
placeholder="Add your new todo"
[(ngModel)]="tarefa" 
>

<button class="btn" mat-raised-button  (click)="emitirEvento($event)" diretiva>+</button>
</div>



<!--Lista de tarefas-->
<ul class=" Lista">
<li *ngFor="let item of items"> {{item}}
<button (click)="deletarTarefas(item)" class="material-icons"> delete</button>

</ul>

<app-botao [mostrar]="items.length" (apagar)="clearall()" diretiva class="clear"></app-botao>

</div>