.container{
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    background: whitesmoke;
    border-radius: 5px;
    padding: 25px;
}

.h1{
        font-size: 35px;
        font-weight: 600;
        text-align: left;
        
        margin-bottom: 20%;
}

.container .CampoBotao{
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0;
}

.ipnt{
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    height: 100%;
    font-size: 20px;
    border-radius: 8px;
    padding-left: 18px;
}

.btn{
    
    width: 10px;
    height: 100%;
   margin-left: 10px;
   background-color: blueviolet;
   border-radius: 5px;
   font-size: 40px;
  }

  .container .Lista{
      max-height: 250px;
      overflow-y: auto;

  }

  .Lista li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    font-size: 30px;
    font-weight: 80%;
    position: relative;
    background: gray;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0px 15px;
}


  .delele li{
    list-style: none;
    height: 45px;
    line-height: 45px;
    font-size: 30px;
    font-weight: 80%;
    position: relative;
    background: gray;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0px 15px;
  }

  .footer{
      display: flex;
      width: 100%;
      height: 30px;
      justify-content: space-between;
      margin-top: 20px;
      font-size: 15px;
    }

    .footer button{
        width: 17%;
    height: 100%;
   margin-left: 10px;
   background-color: blueviolet;
   border-radius: 5px;
   
    }

    .foter{
        text-align: center;
     margin-bottom: 50px;
      height: 30px;
      margin-top: 20px;
      font-size: 20px;
    }