<div class="container" >
<mat-card-title class="h1" >Todo App</mat-card-title>

<!--Campo de botão-->
<div class="CampoBotao">
<input class="ipnt" type="text"placeholder="Add your new todo"[(ngModel)]="tarefa">
<button class="btn" mat-raised-button  (click)="emitirEvento()">+</button>
</div>

{{tarefa}}

<!--Lista de tarefas-->
<ul class=" Lista">
<li *ngFor="let item of items"> {{item}}
<button (click)="deletarTarefas(item)" class="delete"> Deletar</button>

</ul>

<!--Footer-->
<div class="footer">
<span class="foter" >You have 4 pending tasks</span>
<button >Clear All</button>
</div>

</div>